header {
  color: blueviolet;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.btn {
  color: blue;
}

body {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

#page-content {
  color: red;
}