header {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

body {
  background-color: rgb(122, 172, 196);
}

.container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: rgb(20, 6, 99);
}


.btn {
  font-weight: bold;
}

.hide {
  display: none;
}